<div class="jumbotron bg-dark p-5 rounded-lg m-3">
    <h1 class="display-4 text-white">How To Play AMU dames?</h1>
    <p class="lead text-white">
      <b>AMU dames</b>, as how we call this in french, "jeu de dames", is an online multiplayer <b>draughts</b> game.<br>
      Draughts is played by two opponents, on opposite sides of the gameboard. One player has the dark pieces; the other has the light pieces. 
      Players alternate turns. A player may not move an opponent's piece. A move consists of moving a piece diagonally to an adjacent unoccupied square. 
      If the adjacent square contains an opponent's piece, and the square immediately beyond it is vacant, 
      the piece may be captured (and removed from the game) by jumping over it.
      <br>
      Only the dark squares of the checkered board are used. A piece may move only diagonally into an unoccupied square. When presented, 
      capturing is mandatory in most official rules, although some rule variations make capturing optional. 
      In almost all variants, the player without pieces remaining, or who cannot move due to being blocked, loses the game.
      <br>
      <u><h3>Men (stones, péon, pawn)</h3></u>
      Uncrowned pieces move one step diagonally forwards, and capture an opponent's piece by moving two consecutive steps in the same line, 
      jumping over the piece on the first step. Multiple enemy pieces can be captured in a single turn provided this is done by successive 
      jumps made by a single piece; the jumps do not need to be in the same line and may "zigzag" (change diagonal direction). 
      <br>
      <u><h3>Dames (kings, ladies)</h3></u>
      When a man reaches the Dames row (also called crownhead, the farthest row forward), it becomes a dame and acquires additional powers 
      including the ability to move backwards and capture backwards. Like men, a dame can make successive jumps in a single turn provided 
      that each jump captures an enemy man or dames.
    </p>
</div>