.info-navbar {
    color: white;
    text-align: right;
    font-size: small;
}

.user-img {
    border-color: white;
    border-radius: 50%;
    border-width: 0.2em;
    border-style: solid;
    margin-left: 10%;
}

footer {
    color: white;
    position: fixed;
    text-align: center;
    height: 1.5em;
    bottom: 0;
    width: 22%;
}