<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>AMU dames</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLinkActive="active" routerLink="home">
        <img src="../assets/images/logo-mini.png">
      </a>
      <div class="order-3 order-lg-3">
        <ul class="navbar-nav  flex-row">
            <li class="nav-item" >
              <div class="info-navbar">
                <p>
                  <i class="flag flag-china">flag</i> Pseudo <br>
                  666 <br>
                </p>
              </div>
            </li>
            <li class="nav-item">
              <a (click)="open(modalConnexion)">
                <img class="user-img" src="../assets/images/user/user_blank.png">
              </a>
            </li>
        </ul>
      </div>
      <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-2 order-lg-2 dropdown-menu-left" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="play">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="ranking">Ranking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="guide">Guide</a>
          </li>
        </ul>
      </div>
    </nav>

      <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          ...
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODALS BEGIN -->
    <!--modal pas connecter-->
    <ng-template #modalConnexion let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Connect or Register</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="signUpForm">
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="usernameSignUp" class="form-control" formControlName="username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="emailSignUp" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="passwordSignUp" class="form-control" formControlName="password">
            </div>
            <div class="form-group">
              <label for="passwordConfirm">Password Confirm</label>
              <input type="password" id="passwordConfirmSignUp" class="form-control" formControlName="passwordConfirm"> <!--to finish-->
            </div>
            <button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid">Sign-up</button>
          </form>
        </div>
        <div id="signInForm" hidden=true>
          <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="emailSignIn" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="passwordSignIn" class="form-control" formControlName="password">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="signInForm.invalid">Sign-in</button>
          </form>
        </div>
      </div>
      <div class="modal-footer text-center d-flex" >
        <div class="plink">
          <a (click)="switchConnexionForm()" class="connexionButton"><p><i><u>Already have an account ? Sign-In!</u></i></p></a>
        </div>
      </div>
    </ng-template>
    <!-- MODALS END -->

    <!--ROUTER-->
    <main role="main" class="container">
      <router-outlet></router-outlet>
    </main>
    <!--ROUTER END-->
    <footer class="footer bg-dark">
        <p>© PIERRARD KEVIN, VIZCAINO YOHAN, YUN EUNSUN, IKHLEF EDDY</p>
    </footer>
  </body>
</html>