html { 
    background-color: transparent;
    height: 100% !important;
    width: 100% !important;
    background: url(../assets/images/bkg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body {
    background-color: transparent;
    height: 100% !important;
}

//override bootstrap
:host ::ng-deep .jumbotron {
    background-color: rgba($color: #000000, $alpha: 0.5) !important;
    height: 100% !important;
}
.navbar {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
}

.info-navbar {
    color: white;
    text-align: right;
    font-size: small;
}
.profile-navbar {
    position: fixed; top: 0; right: 0; border: 0;
}

.collapse-menu {
    position: absolute;
    left: 15%;
}

.user-img {
    border-color: white;
    border-radius: 50%;
    border-width: 0.3em;
    border-style: solid;
    margin-left: 10%;
    width: 64px;
    height: 64px;
}
.user-profile {
    color: lightgray;
}
.user-profile:hover {
    color: white;
    text-decoration: none;
}

.user-info {
    position: absolute;
    right: 2%;
    top: 1%;
}

.user-img-connected { border-color: green ;}
.user-img-disconnected { border-color: red ;}

footer {
    background-color: transparent;
    color: white;
    position: fixed;
    text-align: center;
    height: 1.6em;
    font-size: 1em;
    width: 100%;
    bottom: 0;
}

input {
    width: 100%;
}

.plink {
    color: lightskyblue;
}
.plink:hover {
    color: blue;
}