<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>AMU dames</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end fixed-top">
      <a class="navbar-brand" routerLinkActive="active" routerLink="home">
        <img src="../assets/images/logo-mini.png">
      </a>
      <div class="flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="search">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="ranking">Ranking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="guide">Guide</a>
          </li>
        </ul>
      </div>
      <div class="ml-auto mr-1">
        <!-- USER-->
        <div *ngIf="user != null; else elseBlock">
          <ul class="navbar-nav  flex-row">
            <li class="nav-item" >
              <div class="info-navbar">
                <a class="user-profile" routerLinkActive="active" routerLink="user-profile">
                  <img src="https://www.countryflags.io/{{ user.country }}/flat/24.png"> <br>
                  {{ user.username }} <br>
                  {{ user.elo }} <br>
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a (click)="open(modalDisconnect)">
                <img class="user-img user-img-connected" src="{{ user.profileImageURL }}">
              </a>
            </li>
        </ul>
        </div>
        <ng-template #elseBlock>
          <ul class="navbar-nav  flex-row">
            <li class="nav-item">
              <a (click)="open(modalConnexion)">
                <img class="user-img user-img-disconnected" src="../assets/images/user/user_blank.png">
              </a>
            </li>
          </ul>
        </ng-template>
        <!-- END USER-->
      </div>
    </nav>

    <!--ROUTER-->
    <main role="main" class="container">
      <router-outlet></router-outlet>
    </main>

    <!-- MODALS BEGIN -->
    <ng-template #modalConnexion let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Connect or Register</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="signUpForm" hidden=true>
        <div class="modal-body">
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="usernameSignUp" class="form-control" formControlName="username"
                [class.is-invalid]= "signUpForm.get('username')!.invalid && signUpForm.get('username')!.touched">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="emailSignUp" class="form-control" formControlName="email"
                [class.is-invalid]= "signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="passwordSignUp" class="form-control" formControlName="password"
              [class.is-invalid]= "signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched">
            </div>
            <div class="form-group">
              <label for="passwordConfirm">Password Confirm</label>
              <input type="password" id="passwordConfirmSignUp" class="form-control" formControlName="passwordConfirm"
              [class.is-invalid]= "signUpForm.get('password')!.invalid && signUpForm.get('passwordConfirm')!.touched"> <!--to finish-->
            </div>
            <button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid" (click)="modal.dismiss('Cross click')">Sign-up</button>
          </form>
        </div>
        <div class="modal-footer text-center d-flex" >
          <div class="plink">
            <a (click)="switchConnexionForm()" class="connexionButton"><p><i><u>Already have an account ? Sign-In!</u></i></p></a>
          </div>
        </div>
      </div>
      <div id="signInForm">
        <div class="modal-body">
          <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="emailSignIn" class="form-control" formControlName="email"
                [class.is-invalid]= "signInForm.get('email')!.invalid && signInForm.get('email')!.touched">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="passwordSignIn" class="form-control" formControlName="password"
              [class.is-invalid]= "signUpForm.get('password')!.invalid && signInForm.get('password')!.touched">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="signInForm.invalid" (click)="modal.dismiss('Cross click')">Sign-in</button>
          </form>
        </div>
        <div class="modal-footer text-center d-flex" >
          <div class="plink">
            <a (click)="switchConnexionForm()" class="connexionButton"><p><i><u>Don't have an account ? Sign-Up!</u></i></p></a>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #modalDisconnect let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Disconnect</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="disconnectForm">
          <p>Are you sure you want to disconnect?</p>
          <button class="btn btn-danger" (click)="disconnect(); modal.dismiss('Cross click')">Disconnect</button>
        </div>
      </div>
      <div class="modal-footer text-center d-flex" ></div>
    </ng-template>
    <!-- MODALS END -->
    <footer class="footer bg-dark">
        <p>© PIERRARD KEVIN, VIZCAINO YOHAN, YUN EUNSUN, IKHLEF EDDY</p>
    </footer>
  </body>
</html>