<div class="modal-header">
    <h5 class="modal-title">Edit News</h5>
</div>
<div class="modal-body">
    <div>
    <form [formGroup]="newsEditForm" (ngSubmit)="editNews()">
        <div class="form-group">
            <label for="title">News Title:</label>
            <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <div class="form-group">
            <select name="type" id="type" class="form-control" formControlName="type">
            <option value="">--Kind of News--</option>
            <option value="secondary">Info</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
            <option value="success">Nice</option>
        </select>
        </div>
        <div class="form-group">
        <label for="content">News Content:</label>
        <textarea id="content" class="form-control" formControlName="content" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
    </div>
</div>
<div class="modal-footer text-center d-flex" >
    <p>Delete news:<br>
    pleaese type the news title to delete it</p>
    <form [formGroup]="newsDeleteForm" (ngSubmit)="deleteNews()">
        <div class="form-group">
            <label for="title">News Title:</label>
            <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

