.container {
    display: flex;
    align-items: center;
    color: white;
}

.user-img { 
    border-radius: 50%;
    border-width: 0.3em;
    border-style: solid;
    width: 64px;
    height: 64px;
}

.playerWhite {
    border-color: white;
}

.playerBlack {
    border-color: black;
}

#canvas {
    border-width: 0.2em;
    border-color: black;
    border-style: solid;
}