<div class="jumbotron bg-dark rounded-lg text-center">
    <div class="container text-center">
        <div class="d-flex flex-column offset-3 float-md-center">
            <div class="p-2 d-flex justify-content-between">
                <div class="d-inline-flex p-2">
                    <ul class="navbar-nav  flex-row">
                        <li>
                            <img class="user-img user-img player1" src="../assets/images/user/user_blank.png">
                        </li>
                        <li>
                            <div>
                                <img src="https://www.countryflags.io/fr/flat/24.png"> <br>
                                moka <br>
                                666 <br>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-inline-flex p-2">
                    <h2>Your Turn</h2>
                </div>
                <div class="d-inline-flex p-2">
                    <ul class="navbar-nav  flex-row">
                        <li>
                            <div>
                                <img src="https://www.countryflags.io/kr/flat/24.png"> <br>
                                eunsun <br>
                                1000 <br>
                            </div>
                        </li>
                        <li class="nav-item">
                            <img class="user-img user-img player2" src="../assets/images/user/user_blank.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-2 canvas">
                <canvas #canvas width="500" height="500"></canvas>
            </div>
        </div>
    </div>
  </div>
  <br><br><br>
  <!--
                      <div class="w-100"></div>
                <div class="col board odd" id="1"></div>
                <div class="col board even" id="2"></div>
                <div class="col board odd" id="3"></div>
                <div class="col board even" id="4"></div>
                <div class="col board odd" id="5"></div>
                <div class="col board even" id="6"></div>
                <div class="col board odd" id="7"></div>
                <div class="col board even" id="8"></div>
                <div class="col board odd" id="9"></div>
                <div class="col board even" id="10"></div>
  -->