.jumbotron {
    color: white !important;
}
.desc {
    font-size: 0.5em;
}

.card {
    background-color: rgba($color: white, $alpha: 0.1);
}

.card:hover {
    background-color: rgba($color: white, $alpha: 0.2);
}

img {
    max-height: 64px;
}