<div class="jumbotron bg-dark p-5 rounded-lg m-3">
    <h1 class="display-4 text-white">AMU Dames' Ranking</h1>
    <p class="lead text-white">Check out the best players of Amu Dames!</p>
    <hr>
    <div class="row justify-content-between">
        <div *ngFor="let user of ranking; let index = index">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl">
                                <ul class="navbar-nav  flex-row">
                                    <li>
                                        <img class="user-img user-img player1" src="{{ user.profileImageURL }}">
                                    </li>
                                    <li>
                                        <a (click)="goToUserProfile(user.username)" style="cursor: pointer">
                                            <div>
                                                <img src="https://www.countryflags.io/{{ user.country }}/flat/24.png"> <br>
                                                {{ user.username }} 
                                                <span class="badge badge-warning mr-3" *ngIf="index == 0">{{ index+1 }}</span>
                                                <span class="badge badge-light mr-3" *ngIf="index == 1">{{ index+1 }}</span>
                                                <span class="badge badge-secondary mr-3" *ngIf="index == 2">{{ index+1 }}</span>
                                                <span class="badge badge-dark mr-3" *ngIf="index > 2">{{ index+1 }}</span>
                                                <br>
                                                {{ user.elo }} <br>
                                                <i class="desc">" {{ user.description }} "</i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <br>
</div>

