#newsBox {
    color: white;
}

hr {
    color: white;
    border-color: white;
}

.sub-link {
    text-indent: 2em;
    padding-left: 0.5em;
}

.card {
    background-color: rgba($color: white, $alpha: 0.5);
}