<div class="jumbotron bg-dark p-5 rounded-lg m-3">
    <h1 class="display-4 text-white">Bienvenu sur AMU dames !</h1>
    <p class="lead text-white">
      AMU dames est un jeu de dame en ligne multijoueur et blablabla
    </p>
    <hr class="my-4">
    <h1><span class="badge badge-secondary">News</span></h1>
    <!-- exemple de news feed du projet -->
    <div class="card">
      <div class="card-body">
        <span class="badge badge-dark">17/02/2021</span>
        <p>lancement du projet amu dame</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <span class="badge badge-danger">17/02/2021</span>
        <p>rien ne marche</p>
      </div>
    </div>
</div>