.viewuser-img {
    border-color: white;
    border-radius: 50%;
    border-width: 0.6em;
    border-style: solid;
    margin-left: 10%;
    width:  128px;
    height: 128px;
}

.card {
    background-color: rgba($color: white, $alpha: 0.5);
}